* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.container {
    width: 1170px;
    margin: 0 auto;
}

.hero{
    padding-top: 538px;
    padding-bottom: 133px;
    background-image: url("../hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 59px;
    color: white;
}

.hero-subtitle {
    color: white;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 22px;
}

.hero-slogan{
    width: max-content;
    font-size: 54px;
    line-height: 66px;
    color: #fff;
    text-transform: uppercase;
    padding: 38px 31px;
    background-color: rgba(0,0,0,0.32);
    border: 1px solid white;
}

.navigation {
    display: flex;
    padding-bottom: 22px;
    border-bottom: 3px solid #F1B128;
    justify-content: space-between;
}

.navigation-company {
    /*display: inline-block;*/
    text-transform: uppercase;
    font-size: 28px;
}

.nav-menu {
    /*display: inline-block;*/
    list-style: none;
    margin-left: 190px;
    display: flex;

}

.nav-menu-item {
    margin-left: 69px;
}

.nav-menu-link {
    font-size: 18px;
    line-height: 22px;
    color: #3d3d3d;
    text-decoration: none;
    text-transform: uppercase;
}





























.yellow-text {
    color: #F48E0B;
}